{% extends "webapp/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<body>



    <div class="container bg-light shadow-md p-5 form-layout">
        <h3>Create Record</h3>
        <h6>
            Start adding in the required details.
        </h6>
        
        <hr>
        <br>
        <form action="" method="POST" autocomplete="off" novalidate>
            {% csrf_token %}

            {{form|crispy}}

            <br>

            <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Add </button>


        </form>
<br>
        

    <br>
</body>
{% endblock %}